s*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}
.container{
	max-width: 1117px;
	margin: 0 auto;

}
.wrapper{
	margin-top: 50px;
	width: 800px;
	height: 500px;
	margin: 50px auto;
	border-radius: 20px;
	text-align: center;
	position: relative;
	background:#fff;
	box-shadow: 0 0 40px #000;
	
}
.input_button img{
	width: 30px;
	height: 30px;

}

.img h3{
	font-size: 30px;
	font-weight: 600;
	
}
.img h3 span:nth-child(1){
	color:red;
}
.img h3 span:nth-child(2){
	color:green;
}
.wrapper .img{
  
   width:100%;
   height: 260px;
  
}
.wrapper .input_button{
  
   width: 100%;
   height: 200px;
  
}
.result{
	height: 40px;
	width: 100%;
	font-size: 40px;
	font-weight: 600;
	color: #7579ff;
}
input, button{
	border:none;
	background:none;
	outline: none;
}

input{
	display: block;
	margin: 10px auto;
	width: 260px;
	height: 36px;
	color:#000;
	font-size: 15px;
	border-bottom: 2px solid rgba(109, 93, 93, 0.4);
	text-align: center;
	cursor:black;
	position: relative;
}
button{
	display: block;
	margin: 30px auto;
	width: 260px;
	height: 36px;
	border-radius: 30px;
	color:#000;
	background: -webkit-linear-gradient(left, #7579ff, #b224ef);
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0 0 10px #b224ef;
}
button:hover{
	background: -webkit-linear-gradient(left, #b224ef,  #7579ff);
}

@media (max-width:500px){
    .container{
	     max-width: 400px;	
}
	.wrapper{
	     width: 300px;
}
	.img img{
	    width: 180px
}   
     .img h3{
     	font-size: 20px;
     	padding: 30px;
     }
    .result{
    	font-size: 17px;
    }
    input{
    	width: 180px;

    }
    button{
    	width: 180px;
    }

}











